<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Snide Travinizer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bundles/snidetravinizer/css/bootstrap.min.css') }}" type="text/css"
                  media="all"/>
            <link rel="stylesheet" href="{{ asset('/bundles/snidetravinizer/css/bootstrap-responsive.css') }}"
                  rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('/bundles/snidetravinizer/css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="background">
        <div class="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ path('snide_travinizer_dashboard') }}">Snide Travinizer</a>

                        <div class="nav-collapse collapse">
                            <ul class="nav">

                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="content container">


                {% block main %}

                {% endblock %}

            </div>
        </div>
        {% block javascript %}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="{{ asset('/bundles/snidetravinizer/js/bootstrap.min.js ') }}"></script>
        {% endblock %}
    </body>
</html>