{% extends 'SnideTravinizerBundle::base.html.twig' %}

{% block main %}
    <h1>Repositories</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Slug</th>
            <th>Type</th>
            <th>Badges</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for repository in repositories %}
            <tr>
                <td><b>{{ repository.slug }}</b></td>
                <td>{{ repository.fullType }}</td>
                <td>
                    {{  snide_travinizer_travis_badge(repository) }}
                    {{  snide_travinizer_scrutinizer_quality_badge(repository) }}
                    {{  snide_travinizer_scrutinizer_coverage_badge(repository) }}
                </td>
                <td><a href="{{ path('snide_travinizer_repo_edit', {'id': repository.id}) }}">Edit</a>
                    | <a href="{{ path('snide_travinizer_repo_show', {'id': repository.id}) }}">Show</a>
                    | <a href="{{ path('snide_travinizer_repo_delete', {'id': repository.id}) }}">Delete</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>To add a repository, <a href="{{ path('snide_travinizer_repo_new') }}">click here</a></p>
{% endblock %}