{% extends 'SnideTravinizerBundle::base.html.twig' %}

{% block main %}

    <h2>Update an application</h2>
    <form action="{{ path('snide_travinizer_repo_update') }}" method="post" {{ form_enctype(form) }}>

        {{ form_row(form.id) }}
        {{ form_row(form._token) }}
        <div class="field">
            {{ form_errors(form.slug) }}
            {{ form_label(form.slug) }}
            {{ form_widget(form.slug) }}
        </div>
        <div class="field">
            {{ form_errors(form.type) }}
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>
        <div class="field">
            {{ form_errors(form.qualityBadgeHash) }}
            {{ form_label(form.qualityBadgeHash) }}
            {{ form_widget(form.qualityBadgeHash) }}
        </div>
        <div class="field">
            {{ form_errors(form.coverageBadgeHash) }}
            {{ form_label(form.coverageBadgeHash) }}
            {{ form_widget(form.coverageBadgeHash) }}
        </div>
        <input class="btn submit-btn" type="submit" value="Submit"/>
    </form>

{% endblock %}